@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-main relative;
}

.gradient-bg {
  @apply absolute inset-0 -z-50;
  content: "";
  background-image: url("/header-gradient.svg"), url("/footer-gradient.svg");
  background-repeat: no-repeat;
  background-position: center top, center bottom;
  min-height: 100vh;
  min-height: 100dvh;
}

@layer base {
  .gradient-retro-1 {
    background: linear-gradient(86deg, #D400A5 5.24%, #1E76C9 55.57%, #35FCED 98.16%);
  }

  .gradient-retro-2 {
    background: linear-gradient(90deg, #4AB1F1 0.58%, #566CEC 37.22%, #D749AF 73.87%, #FF7C51 112.26%);
  }

  .gradient-sky-1 {
    background: linear-gradient(90deg, #80D0F2 0%, #5C82FF 50%, #C480FF 100%);
  }

  .gradient-sky-2 {
    background: linear-gradient(90deg, #47189C 0%, #3861BC 50%, #80D6E1 100%);
  }

  .gradient-sky-3 {
    background: linear-gradient(90deg, #1584EB 0%, #24D6D9 97.34%);
  }

  .gradient-rose-1 {
    background: linear-gradient(73deg, #DF51AD 0%, #EB587D 95.06%);
  }

  .gradient-sunset-2 {
    background: linear-gradient(90deg, #F06844 0%, #EE4C54 25%, #D45E95 50%, #9C6CA6 75%, #6583C1 100%);
  }
  
  .hover-bg {
    background: linear-gradient(90deg,rgba(255,233,244,0.4) 0%,rgba(234,243,255,0.7) 100%);
  }

  .dark .hover-bg,
  [data-theme="dark"] .hover-bg {
    background: linear-gradient(90deg,rgba(30,28,50,0.8) 0%,rgba(43,22,29,0.7) 100%);
  }
}

a,
button,
div {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

